.CircularProgressbar {
    width: 100px !important;
    margin: 20px;
    margin-top: 50px;
}

.pie-color {
    color: aquamarine !important;
}

@media only screen and (max-width: 768px) {
    .CircularProgressbar {
        margin-top: 100px;
        width: 70px !important;
        position: relative;
        right: 20px !important;
        z-index: 4;
    }
}