.for-sm-nav {
    display: none;
}

.mobile-chart {
    display: none !important;
}


@media only screen and (max-width: 768px) {
    .dashboard-sm {
        display: block;
        flex-direction: column;
    }

    .navbar-sm {
        display: none !important;
    }

    .for-sm-nav {
        display: block;
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, -50%);


    }

    .profile-sm {
        background-color: #F5F5F5;
    }

    .improvement-mobile {
        flex-direction: column;
        align-items: flex-start;
    }

    .desktop-chart {
        display: none !important;
    }

    .mobile-chart {
        display: block !important;
    }

    .pie-chart-mobile {
        flex-direction: column;
        justify-content: space-between;
    }

    .contribution-mobile {
        flex-direction: column;
        align-items: start !important;
    }
}