.for-sm-nav {
    display: none;
}

.mobile-chart {
    display: none !important;
}

.desktop-nav {
    width: 3% !important;
}

@media only screen and (max-width: 768px) {
    .dashboard-sm {
        display: block;
        flex-direction: column;
    }

    .navbar-sm {
        display: none !important;
    }

    .for-sm-nav {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;


    }

    .profile-sm {
        width: 500px;
        background-color: #F5F5F5;
    }

    .improvement-mobile {
        flex-direction: column;
        align-items: flex-start;
    }

    .chart-sm {
        width: 100%;
        padding-left: 0 !important;
        /* padding-right: 0 !important; */
    }

    .bar-chart-sm {
        width: 300px !important;
    }

    .desktop-chart {
        display: none !important;
    }

    .mobile-chart {
        display: block !important;
    }

    .pie-chart-mobile {
        flex-direction: column;
        width: 350px;
        justify-content: space-between;
    }

    .contribution-mobile {
        flex-direction: column;
        align-items: start !important;
    }

    .button-mobile {
        width: 100%;
    }

    .select-option-sizing {
        width: 50%;
    }
}